
#resultModal {
  image-orientation: center;
  width: 100%;
  margin: none;
}

.modal-body {
  text-align: center;
  image-orientation: center;
  width: 100%;
  margin: none;
}

h5.modal-body {
  text-align: center;
}

p.card-text {
  text-align: left;
}

#buttons {
  padding: 20px;
  margin: 10px;
}

#resultModal {
  width: 100%;
  margin: none;
}

#cssResult, #rubyResult, #cSharpresult {
  display: none;
}
