.jumbotron {
  background-color: white;
  width: 100%;
  border-bottom: lightgray solid;
}

body {
  font-family: helvetica, sans-serif;
  background-image: url(../img/funky-lines.png);
}

#resultModal {
  image-orientation: center;
  width: 100%;
  margin: none;
}

form#buttons {
  min-width: 215px;
  max-width: 600px;
  margin-left: 20%;
  margin-right: 20%;

}

.modal-body {
  text-align: center;
  image-orientation: center;
  width: 100%;
  margin: none;
}

h5.modal-body {
  text-align: center;
}

p.card-text {
  text-align: left;
}

#buttons {
  padding: 20px;

}

#resultModal {
  width: 100%;
  margin: none;
}

#cssResult, #rubyResult, #cSharpresult {
  display: none;
}
